<!-- Page Content -->
<div class="container">
	<div class="col-md-10 offset-md-1">

<h1>Exercise: Twitch Client</h1>

<p>Write a web application to search for Twitch streams. The application should also allow the user to
select any of the results and start watching the respective stream.</p>

<h2>Requirements</h2>
You must write instructions on how to run the application.

<h3>Functional Requirements</h3>
<ul>
<li>Allow the user to search for streams;</li>
<li>Allow the user to choose the number of results when performing a search;</li>
	<ul><li>Remember this value even when the browser is closed)</li></ul>
<li>Allow the user to open a stream from the search results;</li>
	<ul><li>Keep the the viewers count updated;</li></ul>
</ul>
<h3>Extras</h3>
<ul><li>Application:</li>
<ul><li>Cross Browser compatibility with modern Web Browsers;</li></ul>
<ul><li>Usage feedback (e.g. loading state, error handling);</li></ul>
<ul><li>Performance aware (e.g. don't overload the Twitch service);</li></ul>
<ul><li>Incremental Search;</li></ul>
<ul><li>Responsive UI;</li></ul>
<ul><li>Routing;</li></ul>
</ul>
<ul><li>Development:</li>
<ul><li>Use some kind of style sheet;</li></ul>
<ul><li>Use build tools (e.g. grunt, gulp, webpack)</li></ul>
<ul><li>Different environments for development and production</li></ul>
<ul><li>Unit tests</li></ul>
<ul><li>Functional tests</li></ul>
<ul><li>Clean Code</li></ul>
<li>Amaze us ;)</li>
</ul>
<h2>Mockups</h2>
<p>One of the possible approaches is to create an application with two screens: one for searching and
one for watching streams (with or without full page refresh).</p>
<p>Note that you don't really need to follow this mockups as they are just an example. Just use your
imagination to create a pleasant user experience.</p>
<ul><li>Home</li>
<li>View Stream</li></ul>
<h2>About Twitch</h2>
<p>The documentation for the Twitch API can be found here.</p>

	</div>
</div>